@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext');

@font-face {
	font-family: "BebasBold";
	src: url("../fonts/BebasBold/BebasBold.eot");
	src: url("../fonts/BebasBold/BebasBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BebasBold/BebasBold.woff") format("woff"),
	url("../fonts/BebasBold/BebasBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoSlabBold";
	src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot");
	src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
	url("../fonts/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}




















