
*::-webkit-input-placeholder {
	color: #a8a7a7;
	opacity: 1;
}
*:-moz-placeholder {
	color: #a8a7a7;
	opacity: 1;
}
*::-moz-placeholder {
	color: #a8a7a7;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #a8a7a7;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	box-shadow:none;
    outline: none;
}
body input:required {
    box-shadow:none;
    outline: none;
} 
body input:required:valid,
body textarea:required:valid {
    box-shadow:none;
    outline: none;
}
body,
html {
    min-width:320px;
    height: 100%;
}
body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #484747;
    background-color: #f9f9f9;
}
h1 {
    margin: 0;
    padding: 0;
}
h2 {
    font-family: "GothamProRegular", sans-serif;
    font-size: 24px;
    color: #232323; 
    text-transform: uppercase;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-weight: normal;
    line-height: 1.4;
}
h2 span {
    font-family: "GothamProBold", sans-serif;
}
h3 {
    font-family: "GothamProBold", sans-serif;
    font-size: 14px;
    color: #232323; 
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    font-weight: normal;
}
h4 {
    color: #232323;
    font-size: 11px;
    font-family: "GothamProBold", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}
hr {
    background-color: #232323;
    color: #232323;
    border: none;
    height: 2px;
    margin: 5px auto 40px;
    text-align: center;
    width: 55px;
}
p.block_prev {
    font-family: "Roboto-Italic", sans-serif;
    color: #6b6b6b;
    line-height: 20px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 14px;
}
ul {
    list-style: none;
}
a:focus { 
    outline: none;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
}
.btn {
    text-align: center;
    padding: 7px 17px;     
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;    
    outline: none;
    text-transform: uppercase;
    border-radius: 1px;
    font-size: 11px;
}
.btn_main {
    border: 1px solid rgba(0,0,0,.8);
    color: #232323;
    background: none; 
    padding: 6px 15px;   
}
.btn_main:hover { 
    background-color: #1a3853;
    color: #fff;
    border: 1px solid #1a3853;
}
.btn_light {
    color: #fff;
    border: 1px solid rgba(255,255,255,.8);
}
.btn_light:hover {
    background-color: rgba(238,179,19,.9);
    border: 1px solid #eeb313;
}
.btn_order {
    color: #fff;
    background-color: #eeb313;
    box-shadow: 0 -3px 0 rgba(0,0,0,.22) inset;
    border: none;
    padding: 14px 27px;
}
.btn_order:hover {
    background-color: #e3a808;
}
.no_padding {
    padding: 0;
}
.no_margin {
    margin: 0;
}
.right {
    float: right;
}
.left {
    float: left;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.l_table{
    display: table;
    width: 100%;
    height: 100%;
}
.l_table_cell{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.l_flex{
    display: inline-block;
    width: 100%;
    text-align: justify;
}
.l_flex_oneline:after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}
.l_flex_item {
    display: inline-block;
    vertical-align: top;
}
.loader {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader .loader_inner {
    background-image: url("../img/spinner.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 64px;
    width: 64px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 105;
    width: 100%;
    color: #fff;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;     
    border-bottom: 1px solid rgba(255,255,255,.12);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.header_top {
    transition: transform 0.3s ease 0s;
    width: 100%;
    z-index: 105;
    height: 40px;
    background: rgba(0,0,0,.25);
}
.header--compacted {
    -webkit-transform: translate3d(0,-40px,0);
    transform: translate3d(0,-40px,0);
}
.header.header--compacted {
    background: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header a {
    color: #fff;
}
.header p {
    color: #fff;
    margin: 0;
}
.header.header--compacted a {
    color: #232323;
}
.header_fixed {
    height: 50px; 
    position: relative; 
 }
.header_content {
    width: 100%;
    height: 100%;
}
.header_content .l_flex {
    padding-top: 10px;
}
.header_menu .l_flex {
    padding-left: 15px;
}

/* Header pages */

.header.pages {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header_top.pages {
    background: rgba(26,56,83,1);
}
 .header_fixed.pages {
    background-color: #f9f9f9; 
 }
 .header.pages .header_menu ul li a,
 .header .header_fixed.pages p {
    color: #232323;
 }
 .header.pages .logo_large {
    background-image: url("../img/logo/logo_blue.svg");
 }

/* Logo */

.header_top .header_logo {
    position: absolute;
    top: 0;
    height: 65px;
}
.header_fixed .header_logo {
    height: 50px;
}
.header_logo a {
    display: block;
    height: 100%;    
}
.header_top .header_logo a {
    padding-top: 17px;
}
.header_fixed .header_logo a {
    padding-top: 10px;
}
.header_logo a p {
    display: inline-block;
    font-family: "GothamProBold", sans-serif;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
}
.header_top .header_logo a p,
.header.header--compacted .header_fixed .header_logo a p {
    color: #232323;
}
.header_logo a p>span {
    font-family: "RobotoRegular", sans-serif;
    font-size: 8px;
    left: 0;
    letter-spacing: .15em;
    position: absolute;
    top: 16px;
}
.logo {
    width: 37px;
    height: 29px;
    background-repeat: no-repeat;
    float: left;
    display: inline-block; 
}
.logo_large {
    background-image: url("../img/logo/logo_light.svg");
}
.logo_medium,
.logo_mobile,
.header.header--compacted .logo_large {
    background-image: url("../img/logo/logo_blue.svg");
}

/* Top items */

.top_item {
    margin-left: 50px;   
    position: relative;
}
.top_item i::before {
    position: absolute;
    color: #fff;
}
.top_item i.icon-interface-2::before {
    left: -3px;
   font-size: 15px;
    top: 2px;
}
.top_item i.icon-telephone-2::before {
    left: -1px;
    font-size: 12px;
    top: 3px;
}
.top_item p>a {
    color: #fff; 
}
.top_item p {
    margin-left: 20px;
}
.header_mail.top_item p {
    margin-left: 25px;
}
.phone_text {
    border-bottom: 1px dashed rgba(255,255,255,.85);
    font-size: 11px;
    color: #fff; 
    text-transform: uppercase;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.phone_text:hover {
    border-bottom: none;
}

/* Menu */

.header_menu {
    float: right;
}
.header_menu a {
    font-size: 11px;
    text-transform: uppercase; 
}
.header_menu ul {
    padding: 0;
    margin: 0;
}
.header_menu ul li {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.header_menu ul.sub-menu li {
    display: block;
}
.header_menu ul li a {
    position: relative;
    z-index: 2;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 50px;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.header_menu ul.sub-menu li a {
    border-bottom: 1px solid #eaeaea; 
    color: #232323;  
    line-height: 42px;
}
.header_menu ul.sub-menu li:last-child a {
    border-bottom: none;
}
.header.pages .header_menu ul li.current>a,
.header.pages .header_menu ul li a:hover,
.header_menu ul li.current>a,
.header_menu ul li a:hover {
    color: #eeb313;
}
.header_menu .sub-menu {
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 1;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(249,249,249,.98);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #eaeaea;
    padding: 0;
    margin: 0;
}
.header_menu ul li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 51px;
}

/* Mobile */

.header_buttons {
    display: none;
    margin-top: 2px;
}
.icon {
    position: relative;
    margin: 0 auto;
    display: block;
}
.icon_burger {
    width: 22px;
    height: 3px;
    -o-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
.icon_burger_close {
    background-color: transparent!important;
}
.icon_burger_close:before {
    -o-transform: rotate(45deg) translate(5px,5px);
    -webkit-transform: rotate(45deg) translate(5px,5px);
    -ms-transform: rotate(45deg) translate(5px,5px);
    transform: rotate(45deg) translate(5px,5px);
}
.icon_burger_close:after {
    -o-transform: rotate(-45deg) translate(5px,-5px);
    -webkit-transform: rotate(-45deg) translate(5px,-5px);
    -ms-transform: rotate(-45deg) translate(5px,-5px);
    transform: rotate(-45deg) translate(5px,-5px);
}
.icon_burger:after,
.icon_burger:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #fff;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}
.icon_burger:before {
    top: -7px;
}
.icon_burger:after {
    bottom: -7px;
}
.icon_burger_white {
    background-color: #fff;
}
.buttons_link {
    position: relative;
    text-align: center;
    vertical-align: top;
    background-color: #1a3853;
    width: 42px;
    height: 42px;
    display: inline-block;
    border-radius: 2px;
}
.header_mobile_menu {
    display: none;
    overflow-x: hidden;
}
.header_mobile_menu._active {
    display: block;
}
.mobile_menu ul {
    padding: 0;
    margin: 0;
}
.mobile_menu a {
    color :#fff;
    font-size: 11px;
}
.mobile_menu li.current > a,
.mobile_menu li:hover,
.mobile_menu a:hover {
    color: #eeb313;
}
.m_menu .sub-menu {
   display: none;
}
.tb-mobile-menu li {
    padding: 0;
    background-color: #1a3853;    
    text-transform: uppercase;
}
.tb-mobile-menu li a {
    display:block;
    padding: 13px 15px;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
.tb-mobile-menu li:not(:last-child),
.tb-mobile-menu li.tb-parent>a.active {
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.tb-mobile-menu .sub-menu li a {
    padding-left: 30px;
    background-color: #13314c;
}
.tb-mobile-menu li.tb-parent>a {
    position:relative;
}
.tb-mobile-menu li.tb-parent>a:after {
    position:absolute;
    right: 15px;
    top: 21px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform-origin: 25% 25%;
    -ms-transform-origin: 25% 25%;
    transform-origin: 25% 25%;
    transition: transform .3s,border-color .3s;
    -webkit-transition: -webkit-transform .3s,border-color .3s;
    content: "";
}
.tb-mobile-menu li.tb-parent>a.active::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid #eeb313;
    border-top: 1px solid #eeb313;
}

/*Slider*/

.slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 655px;
    width:100%;
    overflow: hidden;
} 
.slide::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.slide_content {
    text-align: center;
    width: 700px;
    margin: 250px auto 45px auto;
}
.slide_content h1 {
    font-size: 19px;
    line-height: 1.5;
    color: #fff;
    font-family: "GothamProLight", sans-serif;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.slide_content h1 .bold {
    font-size: 30px;
    color: #eeb313;
    font-family: "GothamProBold", sans-serif;
}
.slide_content h1 .white {
    color: #fff;
}
.slick-dots {
    position: absolute;
    bottom: 86px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 11px;
    height: 11px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    border-radius: 50%;
    background: rgba(255,255,255,.6);
}
.slick-dots li button:hover {
    outline: none;
    background: rgba(255,255,255, 1);
}
.slick-dots li.slick-active button {
    background: rgba(255,255,255,1);
}

/* Content */

.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
section {
    padding-bottom: 70px;
}

/*Benefits*/

section.benefits {
    padding-bottom: 10px;
}
.benefits_content p {
    margin-bottom: 10px;
    margin-top: 10px;
}
.benefits .space {
    display: block;
    height: 50px;
}
.benefits .icon_box i {
    color: #232323;
    display: block;
    margin: 39px auto 20px;
    height: 73px;
    line-height: 73px;
    width: 73px;
    float: left;
    font-size: 45px;
}
.benefits .icon_box h3, 
.benefits .icon_box p {
    margin-left: 95px;
}
.benefits .icon_box i.icon-sun::before {
    font-size: 52px;
}
.benefits .icon_box i.icon-headphones::before {
    font-size: 42px;
}
.benefits .icon_box i.icon-burning::before {
    font-size: 47px;
}
.benefits .icon_box i.icon-house::before {
    font-size: 48px;
}
.benefits .icon_box i.icon-house-1::before {
    font-size: 43px;
}

/* Technology */

section.technology {
    background-color: #f9f9f9;
    background-image: url(../img/tech_bg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.table_wrapper { 
    background-color: rgba(255, 255, 255, 0.9);  
    box-shadow: 0 5px 15px rgba(0,0,0,.09);
    padding: 0 10px;
}
table.tech_ben {        
    border-collapse: collapse;
    border-spacing: 0;
}
table.tech_ben tr {
    text-align: center;
}
table.tech_ben tbody tr {
    border-top: 1px dashed #bbbbbb;
}
table.tech_ben td,
table.tech_ben th { 
   padding: 20px 15px;
   width: 33.3%;
}
table.tech_ben th h3 {
    margin: 15px 0;
}
table.tech_ben th:nth-child(1),
table.tech_ben .left_column {
    text-align: left;
}
table.tech_ben tr td:nth-child(2) {
    background-color: rgba(26, 56, 83, 0.027);
}

/* Areas */

section.areas {
    padding-bottom: 80px;
}
.area_box {
    height: 250px;
    text-align: center;
    overflow: hidden;
    width: 25%;
    margin-right: -4px;
    margin-top: -4px;
    display: inline-block;
}
.area_box:nth-child(2n+1) {
    background-color: #f2f2f2;
} 
.area_box .area_link {
    padding: 35px 15px;   
    display: block; 
    height: 100%;
    position: relative;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}
.area_box .area_link::after {
    bottom: -15px;
    color: #fff;
    content: "\eaa6";
    font-family: "icomoon";
    font-size: 14px;
    position: absolute;
    left: 41px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.area_box .area_link:hover::after {
    bottom: 25px;
}
.area_box .area_link h3 {
    margin-top: 25px;
    font-size: 13px;
    -webkit-transition: margin-top .5s;
    -o-transition: margin-top .5s;
    transition: margin-top .5s;
}
.area_box .area_link:hover {
    background-color: #1a3853;
}
.area_box .area_link:hover h3 {
    margin-top: 0;
    text-decoration: underline;
    color: #fff;
}
.area_box .area_link ul {
    display: none;
    text-align: left;
}
.area_box .area_link:hover ul {
    display: block;
}
.area_box .area_link ul li {
    line-height: 1.5;
    margin-bottom: 5px;
    position: relative;
    color: #fff;
}
.area_box .area_link ul li::before {
    background: #fff;
    content: "";
    display: block;
    height: 4px;
    left: -15px;
    position: absolute;
    top: 9px;
    width: 4px;
}
.area_box .area_link i {
    color: #232323;
    font-size: 44px;
}
.area_box .area_link:hover i {
    display: none;
}
.area_box .area_link i.fa {
    font-size: 16px;
    margin-top: 20px;
}
.area_box .area_link i.icon-tool::before {
    font-size: 47px;
}
.area_box .area_link i.icon-real-estate::before {
    font-size: 46px;
}

/* Reviews */

section.reviews {
    background-color: #1a3853;
    background-image: url(../img/reviews_bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    padding-bottom: 80px;
}
section.reviews h2 {
    color: #fff;    
}
section.reviews hr {
    background-color: #fff;    
    color: #fff;
}
.reviews_block {
    padding-right: 15px;
    margin-top: 30px;
}
.reviews_block img {
    border-radius: 50%;
    border: 3px solid #fff;
    height: 111px;
    width: 111px;
    margin: 0 auto 65px;
    display: block;
}
.reviews_block p {
    margin-bottom: 30px;
}
.review_text {
    position: relative;
}
.review_text::before {
    font-family: "icomoon";
    font-size: 22px;
    content: "\ea0d";
    color: #eeb313;
    top: -35px;
    left: 0;
    position: absolute;
}
.reviews_block span {
    font-family: "Roboto-Italic", sans-serif;
    font-size: 12px;
    line-height: 1;
}
.button_block {
    text-align: center;
    margin-top: 60px;
}
.button_block .btn {
    display: inline-block;
}

/* FAQ */

.accordion h4 {
    font-family: "RobotoRegular", sans-serif;
    font-size: 13px;
    text-transform: none;
    color: #3c3b3b;
    cursor: pointer;
    line-height: 1.6;
    margin-bottom: 13px;
    margin-top: 0;
    background-color: #fff;
    padding: 14px 45px 14px 25px;
    position: relative;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;  
    box-shadow: 0 3px 12px rgba(0,0,0,.06);  
}
.accordion h4.active {
    box-shadow: 0 4px 17px rgba(0,0,0,.06);
    color: #232323;
}
.accordion h4::after {
    border-left: 1px solid #3c3b3b;
    border-top: 1px solid #3c3b3b;
    height: 6px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: rotate(-135deg);
    transform-origin: 25% 25% 0;
    transition: transform 0.3s ease 0s, border-color 0.3s ease 0s;
    width: 6px;
    z-index: 5;
    content: "";
}
.accordion h4.active::after {
    transform: rotate(45deg);
}
.accordion p {
    padding: 0; 
    margin-top: 0;
}
.accordion .faq_answer {
    padding: 6px 25px;
}

/* Call */

section.call {
    padding: 55px 0 0;
    background-color: #f2f2f2;
}
section.call h3 {
    font-size: 19px;
    margin-bottom: 8px;
    color: #232323;
}
section.call .block_prev {
    text-align: left;
    margin-top: 0;
}
.form_call {
    margin-top: 10px;
    vertical-align: top;
}
.form_call label {
    width: 35%;
    margin-bottom: 15px;
    margin-right: 25px;
    display: inline-block;
    vertical-align: top;
}
.form_call input {
    display: block;
    width: 100%;
    border: #e5e2e2 1px solid;
    background-color: #fff;
    padding: 10px;
    margin-top: 5px;
}
.form_call .btn_order {
    padding: 10px 30px 11px;
    vertical-align: top;
    margin-top: 5px;
}

/* About */

section.about {
    background-color: #f9f9f9;
    background-image: url(../img/about_bg.png);
    background-position: center 200px;
    background-size: 817px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}
.about h3 {
    margin-bottom: 30px;
    float: left;
}
.about .btn {
    float: right;
}
.about p.block_prev {
    text-align: left;
    margin-bottom: 40px;
}
.about_photo {
    margin-bottom: 15px;
}
.about_info {
    padding-right: 40px;
    overflow: hidden;
    margin-bottom: 30px;
}
.about_info img {
    margin-right: 10px;
    width: 90px;
}
.about_info p {
    margin-top: 0;
}
.about_info p.dir_info {
    font-size: 11px;
    font-family: "RobotoMedium", sans-serif;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-top: 7px;
    line-height: 1.4;
}
.about .photo_block {
    margin-bottom: 15px;
}
.about .news_block {
    margin-bottom: 10px;
}
.about .news_block a,
.about .news_block a img {
    display: block;
}
.about .news_block a img {
    width: 100%;
}
.about .last_news_h {
    margin-bottom: 30px;
    overflow: hidden;
}
.about .last_news_h,
.about .news_block {
    padding-left: 5px;
    padding-right: 5px;
}
.about .news_block .news_title {
    font-size: 12px;
    color: #232323;
    text-decoration: underline;
    line-height: 1.3;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.about .news_block:hover .news_title {
    text-decoration: none;
}

/* Products */

.products_block {
    height: 280px;
} 
.products_block .product_link {
    display: block;
    padding: 30px 40px 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    position: relative;
    overflow: hidden;
}
.products_block .product_link:hover {
    background: #1a3853;
}
.products_block .product_link::after {
    bottom: -15px;
    color: #fff;
    content: "\eaa6";
    font-family: "icomoon";
    font-size: 14px;
    position: absolute;
    left: 40px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.products_block .product_link:hover::after {
    bottom: 30px;
}
.products_block .product_link h3 {
    margin-top: 15px;
    margin-bottom: 10px;  
    -webkit-transition: margin-top .5s;
    -o-transition: margin-top .5s;
    transition: margin-top .5s; 
}
.products_block .product_link:hover h3 {
   color: #fff;
   text-decoration: underline;
   margin-top: 0;
}
.products_block .product_link img {
    border-bottom: 1px solid #232323;
}
.products_block .product_link:hover img {
    display: none;
    border: none;
}
.products_block .product_link .prod_cont {
    display: none;
}
.products_block .product_link:hover .prod_cont {
    display: block;
}
.prod_cont p {
    text-align: left;
    display: inline-block;
    color: #fff;
}

/* How */

section.how {
    background-color: #1a3853;
    background-image: url(../img/how_bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
.how h2,
.how h3,
.how hr,
.how p {
    color: #fff;
}
.how hr {
    background-color: #fff;
}
.how .how_item {
    text-align: center;
    position: relative;
    margin-top: 30px;
}
.how .how_item i {
    font-size: 28px;
    background-color: #eeb313;
    border-radius: 50%;
    margin: 0 auto 40px;
    line-height: 2.6;
    width: 75px;
    height: 75px;
    display: block;
    text-align: center;
}
.how .how_item i.icon-phone-22::before {
    font-size: 26px;
}
.how .how_item i.icon-hands::before {
    font-size: 31px;
}
.how .how_item h3 {
    margin-bottom: 10px;
    font-size: 13px;
}
.how_decor {
    position: absolute;
    top: 26px;
    left: 215px;
    width: 150px;
}
.how_decor .circle {
    width: 7px;
    height: 7px;
    background-color: #fff;
    display: inline-block;
    margin-right: 22px;
    border-radius: 50%;
}
.how_decor .circle.first {
    opacity: .4;
}
.how_decor .circle.second {
    opacity: .6;
}
.how_decor .circle.third {
    opacity: .8;
}

/* Projects */

section.projects {
    background-color: #f6f6f6;
}
.project_block {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    margin-top: -4px;
}
.project_block .proj_link {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.project_block .proj_link img {
    width: 100%;
}
.project_block .proj_link h4 {
    color: #fff;
    float: left;
    padding-bottom: 4px;
    margin-bottom: 5px;
}
.project_block .proj_link h4 span {    
    border-bottom: 1px solid rgba(255,255,255,.4);
    padding-bottom: 2px;
}
.project_block .proj_link p {
    float: left;
    font-size: 12px;
}
.project_block .proj_link .proj_cont {
    position: absolute;
    bottom: -400px;
    left: 0;
    padding: 12px 26px;
    background-color: rgba(26,56,83,.9);
    color: #fff;
    height: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.project_block .proj_link:hover .proj_cont {
    bottom: 0;
}
.projects .link_block {
    text-align: center;
    padding-top: 50px;
}
.projects .link_block .btn {
    display: inline-block;
}

/* Footer */

footer {   
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
footer .footer_top {
    background-color: #112436;
    padding: 52px 0 40px;    
}
footer .f_col {
    padding: 0;
}
footer h4 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #f3f3f3;
    margin: 0 120px 32px 0;
    padding-bottom: 15px;
    font-family: "RobotoRegular", sans-serif;
    font-size: 11px;
}
footer p {
    color: #ccc;
    margin-bottom: 10px;
    margin-top: 0;
}
footer ul {
    margin: 0;
    padding: 0;
}
footer ul li {
    margin-bottom: 10px;
}
footer ul li a {
    color: #ccc;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
footer ul li a:hover {
    color: #fafafa;
}
footer .btn {
    display: block;
    float: left;
    margin-top: 25px;
}
footer .footer_bottom {
    background-color: #0a1d2f;
    text-align: center;
    padding: 25px;
}
footer .footer_bottom p {
    line-height: 1;
    margin: 0;
}

/* Fixed buttons */

#phone_right_box.show {
    right: -140px;
}
#email_right_box.show  {
    right: -129px;
}
#phone_right_box,
#email_right_box {
    background-color: #EEB313;    
    display: block;
    height: 43px;
    position: fixed;    
    transition: all 0.2s ease-in-out 0s;
    width: 200px;
    z-index: 105;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    overflow: hidden;
    color: #fff;
    line-height: 40px;
    border: 1px solid #EEB313;
}
#phone_right_box {
    bottom: 290px;
    width: 188px;
    right: -188px;
}
#email_right_box {
    bottom: 244px;
    width: 177px;
    right: -177px;
}
#phone_right_box:hover {
    right: 0;
}
#email_right_box:hover {
    right: 0;
}
#phone_right_box i,
#email_right_box i {
    display: inline-block;
    font-size: 23px;
    padding: 8px 13px;
}
#phone_right_box i {
    font-size: 22px;
}
#phone_right_box span,
#email_right_box span {    
    display: inline-block;   
    padding: 1px 18px;
    background-color: #E3A808;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    right: 0;
    position: absolute;
}
#toTop {
    background:#eeb313;
    text-align:center;
    padding: 0 12px 7px 13px;
    position:fixed;
    bottom:199px; 
    right:-48px;
    cursor:pointer;
    font-size:16px;
    z-index: 105;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    transition: all 0.2s ease-in-out 0s;
}
#toTop.show  {
    right: 0;
}
#toTop:hover {
    background: #E3A808;
}
.fa-angle-up:before {  
    color: #fff;
    display: inline-block;
    font-size: 29px;
    padding: 5px 2px 1px;
}

/* Callback and Sendmessage form */

.pop-form {
    padding: 15px 25px;
}
.form_header {
    margin-bottom: 30px;
}
.form_title {
    text-align: center;
}
.pop-form h3 {
    font-size: 19px;
    margin-bottom: 5px;
    color: #232323;
    line-height: 1.2;
}
.pop-form p.block_prev {
    margin-top: 17px;
    margin-bottom: 0;
    line-height: 1.4;
    font-family: "RobotoRegular", sans-serif;
    font-size: 13px;
}
.pop-form textarea,
.pop-form input[type=text] {
    display: block;
    width: 100%;    
    margin: 0 auto 15px;
    border:1px solid #e5e2e2;
    box-shadow:none;    
    font-size: 13px;
    background-color: #fff;
    border-radius: 2px;
}
.pop-form input[type=text] {
    line-height: 32px;
    padding: 0 8px;
}
.pop-form textarea {
    height: 80px;
    line-height: 20px;
    padding: 8px;
    max-width: 100%;
}
.pop-form .btn_order {
    width: 100%;
    font-size: 12px;
    padding: 13px 27px;
    margin-top: 5px;
}
.fancybox-skin {
    background: #f9f9f9;
    border-radius: 4px;
    overflow: hidden;
}
.pop-form {
    width: 285px;
}


/* PAGES */

.pages_cont {
    padding: 35px 0 70px;
}
.pages_cont.links_page {
    padding: 70px 0;
}
.pages_header {
    background: #f2f2f2;
    padding-top: 95px;
    padding-bottom: 30px;
}
.pages_header h1 {
    line-height: 1.3;
    font-family: "GothamProBold",sans-serif;
    font-size: 32px;
    font-weight: normal;
    margin-top: 0;
    color: #232323;
    margin: 40px 0 0;
}
.pages_cont h2 {
    line-height: 1.6;
    font-family: "GothamProBold", sans-serif;
    font-size: 16px;
    color: #232323; 
    margin-top: 0;
    text-align: left;
    margin-bottom: 20px;
}
.pages_cont h3 {
    line-height: 1.6;
    margin-bottom: 15px;
    font-family: "GothamProRegular", sans-serif;
    font-size: 12px;
    color: #232323; 
    text-transform: uppercase;
    margin-top: 0;
    text-align: left;
}
.pages_cont h4 {
    line-height: 1.6;
    font-family: "GothamProRegular", sans-serif;
    font-size: 11px;
    color: #232323; 
    text-transform: uppercase;
    margin-top: 0;
    text-align: left;
}
.pages_cont p:first-child,
.pages_cont p.first {
    margin-top: 0;
}
.pages_cont .btn_main {
    display: block;
    float: left;
    margin-top: 25px;
}
.pages_cont .right_block {
    margin-left: 53%;
}

/* Pages breadcrumbs */

.breadcrumbs ul {
    padding: 0;
    margin-top: 7px;
}
.breadcrumbs ul > li {
    display: inline-block;
}
.breadcrumbs ul > li::after {
    content: "/";
    display: inline-block;
    margin: 2px 8px 0;
    height: 6px;
    width: 6px;
}
.breadcrumbs ul > li:last-child::after {
    display: none;
}
.breadcrumbs ul > li > a {
    border-bottom: 1px solid #484747;
    color: #484747;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    line-height: 2.3;
}
.breadcrumbs ul > li > a:hover {
    border-bottom: none;
}
.breadcrumbs ul > li > a, 
.breadcrumbs ul > li > span {
    font-size: 12px;
}

/* Pages images */

.pages_cont img {       
    max-width: 100%;
}
.pages_cont img.transp {
    border: 1px solid #e0e0e0;
    padding: 20px 30px 0;
    background-color: #f2f2f2;
    margin-top: 10px;
}
.pages_cont img.wide {
    margin-bottom: 20px;
}
.pages_cont img.left_img {    
    margin: 0 30px 20px 0;
    width: 50%;
    float: left;
}
.pages_cont img.right_img {    
    margin: 0 0 20px 25px;
    width: 50%;
    float: right;
}

/* Pages list */

.page_list {    
    margin-bottom: 15px;
}
.page_list li {
    margin-bottom: 10px;
    line-height: 1.5;
}
ol.page_list {
    list-style-position: inside;
    padding-left: 0;
}
ol.page_list ul.page_list {
    margin-top: 10px;
}
ul.page_list {
    list-style-position: inside;
    padding-left: 22px;
}
ul.page_list li {
    position: relative;
}
ul.page_list li:before {
    background: #585454;
    content: "";
    display: block;
    height: 4px;
    left: -17px;
    position: absolute;
    top: 9px;
    width: 4px;
}

/* Pages tabulator */

.tabulator.mixer {
    margin-top: 20px;
}
.tabulator p.tab_text {
    margin-bottom: 35px;
}
ul.tabs {
    border-bottom: 1px solid #a2a2a2;
    margin-bottom: 25px;
    padding: 0;
}
.tabs li {
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.tabs li.current {
    background: #1a3853;    
}
.tabs li h3 {
    padding: 10px 15px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: inline-block;
    margin-bottom: 0;
    font-size: 11px;
}
.tabs li.current h3 {
    color: #fff;
}
.tabs li:hover h3 {
    border-bottom: none;
}
.box {
    display: none;
}
.box.visible {
    display: block;
}

/* Links pages */

.pages_box .pages_link {
    display: block;
    text-align: left;
    color: #232323;
    padding: 0 30px 20px;
    min-height: 165px;
    background-color: #fff;
    border: 2px solid #232323;
    margin-bottom: 15px;
}
.pages_box .pages_link h3 {
    margin-bottom: 0;
}
.pages_box .pages_link i {
    font-size: 31px;
    display: inline-block;
    margin: 31px 0 20px;
}

/* Child pages */

aside ul {
    padding-left: 0;
    margin: 0;
}
.sidebar p {
    font-family: "Roboto-Italic", sans-serif;
    color: #6b6b6b;
}
.side_menu {
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-left: 0;
}
.side_menu li {
    width: 100%;
}
.side_menu li a {
    display: block; 
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 1.6;
    margin-bottom: 10px;
    font-family: "RobotoRegular", sans-serif;
    color: #232323; 
    text-transform: uppercase;
    text-align: left;
    padding: 12px 15px;
    background-color: #f2f2f2;
    font-size: 11px;
}
.side_menu li.current a,
.side_menu li:hover a {    
    background-color: #eeb313;
    color: #fff;
}

/* Products page */

.pages_cont table {        
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
    border-spacing: 0;   
    border: none;
}
.pages_cont table tr {
    text-align: center;
}
.pages_cont table tr:nth-child(2n+1) {
    background: #f2f2f2;
}
.pages_cont table tr ul {
    padding-left: 0;
    margin: 0;
}
.pages_cont table tr ul li {
    margin: 5px 0;
}
.pages_cont table tr ul span {
    color: #f2f2f2;
}
.pages_cont table td,
.pages_cont table th {   
   line-height: 1.5;
   padding: 12px 0;
}
.pages_cont table .left_column {
    padding-left: 15px;
    text-align: left;
}
.pages_cont table tr td:nth-child(1) {
    width: 70%;
}
.pages_cont table tr td:nth-child(2) {
    width: 30%;
}

/* Equipment page */

.gal_inner .gal_item {
    vertical-align: top;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}
.gal_inner .gal_item span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 12px;
    background-color: #fff;
    font-size: 13px;
}
.gal_inner .gal_item p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 12px;
}

/* Tiles page */

.tiles_gallery {
    margin-top: 25px;
}
.tiles_gallery h2 {
    margin-bottom: 30px;
}
.tile {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    display: inline-block;
    margin: 0 0 4px;
    text-align: center;
    vertical-align: top;
    width: 24.7%;
}
.tile p {
    font-size: 12px;
    margin: 10px;
}

/* Areas page */

.gal_item {
    padding: 0;
    margin: 0 0 4px 0;
    position: relative;
    display: inline-block;
    width: 24.7%;
}
.gal img {
    width: 100%;
}
.gal_link {
    display: block;
    height: 100%;
}
.gal_item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(238,179,19,.8);
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    text-align: center;
}
.gal_item:hover .overlay {
   opacity: 1;
}
.gal_item .overlay i {
    font-size: 23px;
    margin-top: 28%;
    color: #fff;
}

/* Projects page */

.controls ul,
.controls li {
    padding: 0;
    margin: 0;
}
.controls ul {
    margin: 0 0 30px;
}
.controls li {
    display: inline-block;
    margin-right: 10px;    
    cursor: pointer;    
}
.controls li h3 {
    line-height: 1.7;
    margin: 0 0 10px;
    padding: 10px 15px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: #f2f2f2;
}
.controls li.active h3 {
    background-color: #1A3853;
    color: #fff;
}
.projects_item {
    display: none;
    padding: 0;
    border: 1px solid transparent;
    overflow: hidden;
    width: 24.7%;
    position: relative;
}
.projects_item img {
    width: 100%; 
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; 
}
.projects_item:hover img {
    transform: scale(1.1); 
}
.project_cont {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(26, 56, 83, 0.8);
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; 
    overflow: hidden;
}
.project_cont h4 {  
    color: #fff;
    line-height: 1.7;
    top: 0;
    width: 100%;
    padding: 0 20px;
    transform: translateY(-100%);
    margin: 0;
}
.project_cont h4::after {
    background-color: #eeb313;
    border-radius: 3px;
    content: "";
    display: block;
    height: 2px;
    margin-top: 7px;
    width: 50px;
    font-family: "GothamProRegular";
}
.project_cont a {
    background-color: #EEB313;
    bottom: 0;
    color: #1A3853;
    font-size: 11px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    transform: translateY(100%);
}
.project_cont h4,
.project_cont a {
    position: absolute;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.projects_item:hover .project_cont {
    opacity: 1;    
}
.projects_item:hover .project_cont h4 {
    transform: translateY(20px);
}
.projects_item:hover .project_cont a {
    transform: translateY(0);
}
.project_single_cont p {
    text-align: left;
}

/*Project single page */

ul.proj_info {
    padding: 0;
    margin: 0 0 35px;
}
.proj_info > li {
    border-bottom: 1px dotted #c5c5c5;
    padding: 2px 0;
}
.info-label {
    width: 100%;
}
.info-label .pull-left,
.info-label .pull-right {
    width: 47%;
}
.info-label .pull-left {
    font-family: "RobotoMedium";
}
.proj_img {
    margin-top: 20px;
}
.slider_proj button {
    background: rgba(255,255,255,.3);
    border: none;
    outline: none;
    font-size: 0;
    color: transparent;
    position: absolute;
    left: 0;
    z-index: 2;
    height: 40px;
    width: 40px;
    line-height: 0;
    padding: 0;
}
.slider_proj button.slick-prev {
    bottom: 41px;
}
.slider_proj button.slick-next {
    bottom: 0;
}
.slider_proj button.slick-prev::before,
.slider_proj button.slick-next::before {
    font-family: "FontAwesome";    
    font-size: 20px;
    color: #fff;
    line-height: 1;
}
.slider_proj button.slick-prev::before {
    content: "\f104";
}
.slider_proj button.slick-next::before {
    content: "\f105";
}

/* Feedback page */

.feedback_grid [class*='col-'] {
    min-height: 120px;
    margin-bottom: 30px; 
}
.feedback {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,.06);   
}
.feedback h2 {
    margin-bottom: 15px;
}
.feedback a {
    color: #787777;
    text-decoration: underline;
    font-size: 12px;    
}
.feedback a:hover {
    text-decoration: none;
}
.feedback_info {
    overflow: hidden;
    margin-bottom: 15px;
}
.feedback_info img {
    display: block;
    float: left;
    margin-right: 25px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    margin-bottom: 15px;
}
.feedback_info span {
    color: #232323;
    font-size: 12px;
    font-family: "Roboto-Italic";
    margin-bottom: 15px;
}
.feedback_pdf {
    margin-top: 30px;
}
.feedback_pdf a {
    position: relative;
    margin-left: 45px;
}
.feedback_pdf a::before {
    bottom: -13px;
    content: url("../img/svg/pdf.svg");
    left: -47px;
    position: absolute;
    width: 37px;
}

/* News */

.pages .news_block {
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}
.pages .news_block a,
.pages .news_block a img {
    display: block;
}
.pages .news_block a img {
    width: 100%;
}
.pages .news_block .news_title {
    color: #232323;
    text-decoration: underline;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 0 10px 15px;
    line-height: 18px;
}
.pages .news_block:hover .news_title {
    text-decoration: none;
}

/* Pagination */

.wp-pagenavi {
    text-align: center;
    margin-top: 40px;
}
.wp-pagenavi ul {
    padding: 0;
    margin: 0;
}
.wp-pagenavi ul li {
    display: inline-block;
    margin-bottom: 10px;
}
.wp-pagenavi ul li a {
    font-size: 14px;
    display: block;
    border: 1px solid #d9d9d9;
    padding: 3px 12px;
    margin-right: 5px;
    color: #484747;
    border-radius: 2px;
    line-height: 1.5;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.wp-pagenavi ul li:hover a {
    background-color: #fff;
}
.wp-pagenavi ul li.current a{
    color: #fff;
    background-color: #1a3853;
    border: 1px solid #1a3853;
}
.wp-pagenavi ul li.current:hover a {
    background-color: #EEB313;
    border: 1px solid #EEB313;
    text-decoration: none;
}

/* News page - single */

.newsblock {
    padding-bottom: 25px;
    margin-top: 10px;
    overflow: hidden;
}
.newsblock img {
    float: left;
    max-width: 40%;
    margin: 0 25px 20px 0;
}

/* Awards + License pages */

.slider_awards .slick-dots {
    bottom: -40px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.slider_awards .slick-dots li {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 4px;
    padding: 0;
    position: relative;
    width: 20px;
}
.slider_awards .slick-dots li button {
    background: #e5e5e5;
    border: none;
    border-radius: 50%;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 12px;
    line-height: 0;
    outline: none;
    padding: 5px;
    width: 12px;
}
.slider_awards .slick-dots li.slick-active button {
    background: #cfcfcf;
}
.slide_awards {
    padding-right: 5px;
}
.slide_awards_cont {
    margin: 15px 0;
}
.slide_awards_cont span {
    font-family: "Roboto-Italic";
    font-size: 12px;
    color: #232323;
}
.awards_grid {
    margin-top: 90px;
}
.awards_item {
    overflow: hidden;
    margin-bottom: 30px;
}
.awards_cont {
    margin-left: 33%;
}
.awards_item a.diplom {
    float: left;
    width: 30%; 
    display: block; 
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    position: relative;
    padding: 3.6%;
}
.license_item a {
    position: relative;
    display: block;
    padding: 14%;
}
.awards_item a.diplom::after, 
.license_item a::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: url(../img/frame.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.license_item {
    margin-bottom: 30px;
}
.license_item p {
    margin: 0;
    text-align: center;
}

/* Contacts page */

.contact_item {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.06);
    padding: 35px 50px 45px;
    position: relative;
}
.contact_item::after {
    content: "";
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 1px solid #f1f1f1;
    position: absolute;
}
.contact_item img {
    border: 1px solid #f1f1f1;
    display: block;
    float: left;
    padding: 6px;
    width: 83px;
}
.person_data {
    margin-left: 90px;
}
.person_data p {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: -5px;
    margin-left: 57px;
    padding-bottom: 7px;
    position: relative;
}
.person_data p a {
    color: #484747;
    position: relative;
    z-index: 2;
}
.person_data i {
    position: absolute;
    left: -40px;
    top: 0;
    font-size: 15px;
}
.post_form {
    margin-bottom: 30px;
    padding: 35px 50px;
    background-color: #f2f2f2;
}
.post_form input,
.post_form textarea {
    border: 1px solid #e5e2e2;
    display: block;
    width: 100%;
    margin-top: 10px;       
    background-color: #fff;
    outline: none;
    border-radius: 2px;
}
.post_form input {
    line-height: 39px;
    padding: 0 10px;
}
.post_form textarea {
    line-height: 1.4;
    padding: 5px 10px;
    height: 166px;
    max-width: 100%;
}
.post_form label.control-group {
    display: block;
    margin-bottom: 18px;
}
.post_form label.control-group span {
    color: #FF7272;
}
.post_form label.control-group.error p.help-block {
    background-color: #FF7272;
    color: #fff;
    margin: 5px 0 0 0;
    padding: 5px 0;
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.post_form label.control-group.warning p.help-block {
    display: none;
}
.post_form label.control-group.error p.help-block::before {
    position: absolute;
    content: '';
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #FF7272;
    top: -5px;
    left: 12px;
    margin-left: -5px;
}
.post_form label.control-group p.help-block > ul {
    margin: 0;
    padding-left: 10px;
}
.post_form button {
    margin-top: 10px;
    font-size: 12px;
}